{{myform.value | json}}
<form #myform="ngForm" >
  <div class="form-group">
    <label for="id">ID</label>
    <!--
      <input type="text" name="_id" [(ngModel)]="country._id" class="form-control">
    -->
  </div>
  <div class="form-group">
      <label for="user">Name</label>
      <input type="text" [(ngModel)]="username"  name="username" class="form-control">
    </div>
    <div class="form-group">
        <label for="capital">Capital</label>
        <input type="text"  [(ngModel)]="capital" name="capital" class="form-control">
      </div>
      <button (click)="createOrUpdate()"  class="btn btn-success">submit</button>
</form>